<% layout("/layout/boilerplate") %>
<body>
  <br />
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Edit the Listing</h3>
      <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="listings[title]"
            type="text"
            value="<%= listing.title %>"
            class="form-control" required
          />
          <div class="valid-feedback">Title looks good</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listings[description]" class="form-control" required><%= listing.description %></textarea>
          <div class="invalid-feedback">Description should be short</div>
        </div>

         <div class="mb-3">
          Original Image <br>
          <img src="<%= originalImage %>" >
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Image</label>
          <input
            name="listings[image]"
            type="file"
            class="form-control"
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listings[price]"
              type="number"
              value="<%= listing.price %>"
              class="form-control" required
            />
            <div class="invalid-feedback">Price should be valid</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              name="listings[country]"
              type="text"
              value="<%= listing.country %>"
              class="form-control" required
            />
            <div class="invalid-feedback">Country name should be valid</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            name="listings[location]"
            type="text"
            value="<%= listing.location %>"
            class="form-control" required
          />
          <div class="invalid-feedback">Location should be valid</div>
        </div>

        <br />
        <button class="btn btn-dark edit-btn">Edit</button>
      </form>
    </div>
  </div>
</body>
